.heading{
    color: brown;
    font-size: 24px;
  }
  
  .sub-heading{
    color: blue;
    font-size: 18px;
  }
  
  .header{
    border: 2px solid red;
    height: 10vh;
  }
  
  .body-area{
    border: 2px solid;
    height: 86vh;
    display: flex;
    flex-direction: row;
  }
  
  .sidebar{
    border: 2px solid red;
    width: 20vw;
  }
  
  .content{
    border: 2px solid blue;
    width: 80vw;
  }
  
  .custom-button{
    font-size: 22px;
    text-decoration: none;
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #b292eb;
    color: white;
  }
  
  .btn-margin{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .active{
    background-color: black;
  }
  .m-top-10{
    margin-top: 10px;
  }
  .image{
    width: 300px;
  }
  .eye-image{
    width: 25px;
  }
  .error-messge{
    color: red;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .profile-image{
    width: 60px;
    border-radius: 50px;
  }